<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="~/lib/jquery-bar-rating/dist/themes/bootstrap-stars.css">
<script src="~/lib/jquery-bar-rating/dist/jquery.barrating.min.js"></script>



<form asp-controller="Review" asp-action="Add" method="post" id="Add">
    <h1>Add a new review.</h1>
    <div class="col-sm-10">
        <label>Title:</label>
        <input id="Title" list="TitlesFromGoogle" autocomplete="off" name="Title" value="" required class="form-control" readonly /><br />

        <label>Author:</label>
        <input id="Author" type="text" name="Author" value="" required class="form-control" /><br />

        <label>Category:</label>
        <input id="Category" type="text" name="Category" value="" required class="form-control" /><br />
    </div>
    <div class="col-sm-2">
        <img id="Image" src="" />
        <input id="ImageLink" type="text" name="ImageLink" value="" hidden/><br />
    </div>

    <div class="col-sm-12">
        <label>Description:</label>
        <textarea id="Description" rows="8" cols="100" name="Description" class="form-control"></textarea>
    </div>
    <div class="col-sm-6">
        <label>Rating:</label>
        <select id="Rating" name="Rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <!--<input type="number" step="1" min="1" max="10" name="Rating" value="" required class="" /><br />-->

    </div>


        <div class="col-sm-12">
            <label>Review:</label>
            <textarea rows="8" cols="100" name="Content" form="Add" id="content" required class="form-control">Enter text here...</textarea>
        </div>
        <br />
        <div class="col-sm-12">
            <button id="btn" type="submit" value="Submit" class="btn btn-primary">Submit!</button>
            <a href="\" class="btn btn-default">Cancel</a>

        </div>
</form>

<script>
    $(document).ready(function () {

        $('#Rating').barrating({
            theme: 'bootstrap-stars'
        });

        /*
        $('#asd').barrating({
            theme: 'bootstrap-stars'
        });
        $('#asd').barrating('set',5).barrating('readonly',true);*/

        var params = localStorage.Title;
        if (localStorage.FromGoogle == "true") {
            params = params.split(' ').join('+');
            var googleAPI = "https://www.googleapis.com/books/v1/volumes?q=" + params + "&key=AIzaSyBpel1zUxT_owgB0l8_E3wA6bBNQw2xfDA&country=HU";
            $.getJSON(googleAPI, function (response) {

                $("#Title").val(response.items[0].volumeInfo.title);
                $("#Author").val(response.items[0].volumeInfo.authors[0]);
                $("#ImageLink").val(response.items[0].volumeInfo.imageLinks.thumbnail);
                $("#Image").prop("src", response.items[0].volumeInfo.imageLinks.thumbnail);
                $("#Description").html(response.items[0].volumeInfo.description);
                $("#Category").val(response.items[0].volumeInfo.categories[0]);
                //$("#BuyLink").prop("href", response.items[0].volumeInfo.buyLink);
            });

        }
        else {
            $("#Title").val(params);
            $("#Image").prop("src", "http://placehold.it/128x195");
        }
    });
</script>