@model String


<form asp-controller="Profile" asp-action="SendMessage" method="post" id="Send">
    <h2>Send a Message to @Model</h2>

    <label>To:</label>
    <input class="input-group" type="text" name="ToUserName" value="@Model" readonly/><br />
    <label>From:</label>
    <input class="input-group" type="text" name="FromUserName" value="@UserManager.GetUserName(User)" readonly/><br />
    <label>Message:</label>
    <textarea class="input-group" rows="8" cols="100" name="Content" form="Send">Enter your message here...
    </textarea>
    <br />
    <button class="btn btn-success" type="submit" value="Submit">Send!</button>
</form>