@model IEnumerable<KonyvLab.dal.Models.Notification>
@using  KonyvLab.Controllers
<body>
    <p>Here you can see your notifications</p>

    <h2>Your Notifications:</h2>

    @foreach (var item in Model.Reverse())
    {
        <table class="table" border="1" style="margin-bottom:10px" width="30%">
            <tr>
                <td width="20%">
                    Time:
                </td>
                <td>
                    @item.Time
                        @if (!item.WasRead)
                        {
                            <span aria-hidden="true" class="glyphicon glyphicon-exclamation-sign text-danger">new</span>
                        }
                </td>
            </tr>
            <tr>
                <td>
                    Message:
                </td>
                <td>
                    @item.Message Click <a href="/Review/Read/@item.Object">here</a> to check it out!
                </td>
            </tr>

        </table>
    }

    <a href="/Profile/Index/@UserManager.GetUserName(User)">Back!</a>


</body>